setuptools
asgiref
attrs
certifi
charset-normalizer
cryptography
Django
djangorestframework
coreapi
idna
psycopg2
requests
sqlparse
tzdata
urllib3
django-cors-headers
Pillow
opencv-python
keras
python-multipart
tensorflow
skin-tone-classifier
azure-storage-blob
python-dotenv